Selector {
	 Attribut: Wert;
	 Attribut2: Wert2;
}

body {
	 width: auto

	 margin: 0 auto;
	 background: white;
}

h1 {
	 font-size: 50pt;
	 text-align: center;
	 font-family: Arial Black, sans-serif;

}

h2 {
	 font-size: 25pt;
	 font-family: Arial Black, sans-serif;
     text-align: center;
    margin-top: 100px;
   
}

h3{
     font-size: 15pt;
	 font-family: Arial Black, sans-serif;
     text-align: center;  
}



hr {
    width: 30px;
    height: 3px;
    background: black;
    border: 0;
    margin: auto 40px auto;
    text-align: center;
    
}

p {
	 font-size: 12pt;
	 font-family: Helvetica, sans-serif;
}

a{
    color:black;
}

.wrapper {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    
}

@media screen and (max-width: 1024px)
{
    #menu{
        height: auto;
    }
    
    #logo{
        width: 100px;
        margin-top: 5px;
    }
    
    #navigation{
        margin-top: 0;
    }
}

/*Header*/
#navigation {
    
    position: fixed;
    z-index: 10; 
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color:#fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#logo {
    width: 260px;
    height: 50px;
    float: left;
    margin: 10px 0 0 0px;
    background: url(BB_logo.jpg);
    background-size:cover;

}

#menu a , #logo{
    transition: all 300ms;-webkit-transition: all 300ms;-moz-transition: all 300ms;-o-transition: all 300ms;
}

#logo p {
    font-family: Arial Black;
    font-size: 3em;
    line-height: 0;
    color: black;
    position: fixed;
    
}

#menu {
    float: right;
    margin: 10px 0 0 0px;
    position: static;
    
}

#menu a {
    
    padding-right: 30px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    float: left;
    
    
}



/*banner*/
#banner{
    
    width: 100%;
    height: 800px;
    z-index: 0;
    background:url(DSCN1288.JPG);
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
}

#banner h1{
    margin: 0 auto 0 0;
    padding-top: 350px;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 4em;
    
}

#banner h2{
    margin: 0 auto 0 0;
    padding-top:5px;
    text-align: center;
    color: white;
    font-family:Roboto, sans-serif ;
    font-size: 2em;  
    
}

/*Content*/
#content{
    margin-top: 50px;
}
   

/*Home*/


#Homecontainer p{
    
  font-size: 12pt;
	 font-family: Roboto , sans-serif;
     text-align: left;
    line-height: 3em;
    margin-top: 50px;
    
}
#homebild{
    background:url(DSCN1273.JPG);
    width: 450px;
    height: 300px;
    float: right;
    margin: 50px 0 0 50px;
    background-size: cover;
    
}

/*Bilder*/


#Bildercontainer p {
  font-size: 12pt;
	 font-family: Roboto , sans-serif;
     text-align: left;
    line-height: 3em;
    margin-top: 50px;
}

#Bild1{
background:url(DSCN1281.JPG);
    width: 450px;
    height: 300px;
    float:none;
  margin-left: 0px;
    margin-top: 50px;
    background-size: cover;
}

#Bild2{
background:url(DSCN1272.JPG);
    width: 450px;
    height: 300px;
    float:none;
    margin-left: 600px;
    
    background-size: cover;
}

#Bild3{
background:url(DSCN1280.JPG);
    width: 450px;
    height: 300px;
    float: none;
   margin-left: 0px;
    background-size: cover;
}

#Bild4{
background:url(DSCN1284.JPG);
    width: 450px;
    height: 300px;
    float:none;
    margin-left: 600px;
  
    background-size: cover;
}

/*Anfahrt*/
#Anfahrt{
    margin-top: 50px;
}

#Anfahrtcontainer p{
   text-align: center;
    margin-top: 50px;
    
}

#Anfahrtbild
{
  background:url(maps.PNG);
    width: 750px;
    height: 450px;
    float:inherit;
    margin-left: 225px ;
    margin-right: 225px;
    margin-top: 50px;
    
    background-size: cover;   
}

button{
 transition: ease-in-out all 380ms; 
      color:black;
    background-color: #fff;
    
    border-radius: 5px;
    
}


/*Über mich*/

#Übermichcontainer p{
  font-size: 12pt;
	 font-family: Roboto , sans-serif;
     text-align: left;
    line-height: 3em;  
}

/*footer*/

#footer{
   
    z-index: 10; 
    width: 100%;
    height: 50px;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background-color:#fff;
}

#footer p {
    font-size: 12pt;
    font-family: Roboto , sans-serif;
    text-align: right;
    
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 3em; 
}

/*hoverbefehle*/

#menu a:hover {
    padding-top: 1px;
}



#Anfahrtbild:hover{
    
    transform: scale(1.1);
    -webkit-transform : scale(1.1);
    -moz-transform : scale(1.1);
    -o-transform : scale(1.1);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);     
}

button:hover {
    color:black;
    background-color: gainsboro;
    
    transform: translate(0px, -10px);
    
}
  
#footer p:hover{
  padding-top: 1px;  
}
